@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


:root {
    --primary-color: #7c3aed;
    --dark-gray: #6b7280;


}
body {
    font-family: 
    'Noto Sans', 
    sans-serif;
}

hr  {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding: 0rem 1 rem */ /* (top right bottom left) -> (0 1 0 1) */
    /* hence this is same as above */
}

.container-center {
    max-width: 600px;
    margin: auto;
}    

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;

    /* 
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem; */
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

    /* 
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem; */
}


/** lists **/

.list-non-bullet {
    list-style: none;
    /* 
    padding-inline-start: 0px; */
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}


/** navigation **/

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}


/** header **/

.hero {
    padding: 2rem;

    /* padding-top: 5rem; */

}

.hero .hero-img {
    max-width: 80%;

    /* width: 350px; */
    display: block;
    margin: auto;
}

.hero .hero-heading {
    /* text-align: center; */

    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}